

#html_content .page-title{
    display: inline;
}


.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5);
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.bd-callout{
  margin-top: 20px;
  border-left: solid 3px #FF8000;
  padding-left: 10px;
  padding-right: 20px;
  margin-left: 20px;
}
.code-block {
  /* max-height: 400px; */
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}
.code-block .no-result{
  text-align: center;

}

#form-wrapper{
  padding: 20px;
}

.no-pad  {
  padding-right: 0;
  padding-left: 0;
}

footer.container.footer{
  padding-bottom: 30px;
}

form #operations {
  margin-top: 30px;
}

.jumbotron {
  padding: 2rem 1rem; margin-bottom: 2rem; background-color: #e9ecef; border-radius: 0.3rem;
}

.background-blue {
  padding: 1em;
  margin-bottom: 2em;
  background: #f3f9ff;
  border-radius: 5px;
}

.background-red {
  padding: 1em;
  margin-bottom: 2em;
  background: #fff9f3;
  border-radius: 5px;
}

.form-floating>label {
  left: auto!important;
}