<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}} | {{description}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" />
	<link rel="stylesheet" href="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/5.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	<link href="//tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/5.0.0/js/bootstrap.min.js"></script>
	<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4" aria-label="Navigation">
		<div class="container">
			<a class="navbar-brand" href="https://dmca.toolforge.org/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Wikimedia_logo_white.svg/154px-Wikimedia_logo_white.svg.png" alt="Wikimedia Foundation logo" width="20" height="20"> DMCA Takedown Tool</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
				aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
	
			<div class="collapse navbar-collapse" id="navigation">
				<ul class="navbar-nav me-auto mb-2 mb-sm-0">
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('home.index', _external=True, _scheme=scheme)}}" id="baseurl">
							<i class="fa fa-home"></i> Home <span class="sr-only">(current)</span>
						</a>
					</li>
					{% if username and usergroup %}
					<li class="nav-item">
						<a class="btn btn-light me-2" role="button" href="{{url_for('takedown.index', _external=True, _scheme=scheme)}}">
							<i class="fa fa-shield"></i> New takedown
						</a>
					</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="https://meta.wikimedia.org/wiki/Trust_and_Safety" target="_blank">
							<i class="fa fa-users"></i> About T&S
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container">
		<div class="row content">
			{% block content %}{% endblock %}
		</div>
	</div>
	<footer class="footer mt-auto py-3 bg-light">
		<div class="container">
			<span class="text-muted">
				<a href="https://wikimediafoundation.org/wiki/Privacy_policy">Privacy Policy</a> |
				<a href="https://wikitech.wikimedia.org/wiki/Wikitech:Labs_Terms_of_use">Terms of Use</a> |
				<a href="https://phabricator.wikimedia.org/maniphest/task/create/?projects=trust-and-safety">Report a bug!</a>
				<br>
				Hosted on <a href="https://wikitech.wikimedia.org/wiki/Portal:Cloud_VPS">Wikimedia Cloud VPS</a>, written in <a href="https://python.org">Python</a> by <a href="https://meta.wikimedia.org/wiki/JSutherland_(WMF)">Joe Sutherland</a> (using code originally written by <a href="https://meta.wikimedia.org/wiki/Samuel_(WMF)">Samuel Guebo</a>)
			</span>
		</div>
	
		<script src="{{url_for('static', filename='js/main.js')}}" defer></script>
		<script src="{{url_for('static', filename='js/jquery-ui.min.js')}}" defer></script>
	</footer>
</body>
</html>
