{% extends "base.html" %}
{% block content %}
<div class="container py-4">
	<div class="p-5 mt-4 bg-light rounded-3">
		<div class="container py-5">
			<h1 class="display-5 fw-bold">{{title}}</h1>
			<p class="col-md-8 fs-4">{{description}}</p>
			{% if username %}
			<hr class="my-4">
			<p>{{greeting}} {{ username }}!
				{% if usergroup != 'wmf-supportsafety' %}
				<br>
				<strong>Sorry, your account does not have <span class="badge bg-danger">T&S Credentials</span>.</strong>
				{% endif %}
			</p>
			<a class="btn btn-primary btn-lg" type="button" href="{{ url_for('auth.logout') }}">Logout</a>
			{% else %}
			<p class="lead">
				<a class="btn btn-primary btn-lg" type="button" href="{{ url_for('auth.login') }}">Login via Meta-wiki</a>
			</p>
			{% endif %}
    	</div>
	</div>
</div>
{% endblock %}
