{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="form-group">
		<h1 class="clearfix mb-4">{{title}}</h1> 
	</div>
	<div class="row">
		<div class="form-floating mb-4">
			<h3>Delete File:{{file_name}} — this link will take you to the dialog to do so, it will not immediately delete the file.</h3>
			<a href="https://commons.wikimedia.org/w/index.php?title=File:{{file_name}}&action=delete&wpReason=Per+DMCA+notice:+Please+see+[[Commons:Office+actions/DMCA notices%23{{dmca_title}}]]" lass="btn btn-danger mb-4 copy" target="_blank"><i class="fa-solid fa-copy"></i> Delete File:{{file_name}}</a> 
		</div>

		<div class="form-group col-md-6">
			<div class="form-floating mb-4">
				<textarea name="foundation_wiki_text" id="foundation_wiki_text" class="form-control" style="height: 200px;" cols="80">{{foundation_wiki_text}}</textarea>
				<label for="email_content">Text for Foundation Governance Wiki</label>
			</div>
			<a class="btn btn-danger mb-4 copy"><i class="fa-solid fa-copy"></i> Copy</a> 
			<a class="btn btn-primary mb-4" href="https://foundation.wikimedia.org/w/index.php?title=Legal:DMCA_{{dmca_title}}&action=edit&redlink=1" target="_blank"><i class="fa fa-edit"></i> Create</a>

			<div class="form-floating mb-4">
				<textarea name="noticeboard_text" id="noticeboard_text" class="form-control" style="height: 200px;" cols="80">{{noticeboard_text}}</textarea>
				<label for="noticeboard_text">Noticeboard text</label>
			</div>
			<a class="btn btn-danger mb-4 copy"><i class="fa-solid fa-copy"></i> Copy</a> 
			<a class="btn btn-primary mb-4" href="https://commons.wikimedia.org/w/index.php?title=Commons:Office_actions/DMCA_notices&action=edit&section=new&preloadtitle={{dmca_title}}" target="_blank"><i class="fa fa-edit"></i> Start post</a>
			
			<div class="form-floating mb-4">
				<textarea name="village_pump_text" id="village_pump_text" class="form-control" style="height: 200px;" cols="80">{{village_pump_text}}</textarea>
				<label for="noticeboard_text">Village Pump text</label>
			</div>
			<a class="btn btn-danger mb-4 copy"><i class="fa-solid fa-copy"></i> Copy</a> 
			<a class="btn btn-primary mb-4" href="https://commons.wikimedia.org/w/index.php?title=Commons:Village_pump&action=edit&section=new&editintro=Commons:VPnotice&preloadtitle=Notification+of+DMCA+takedown+demand+—+{{dmca_title}}" target="_blank"><i class="fa fa-edit"></i> Start post</a>

			<div class="form-floating mb-4">
				<textarea name="user_notice" id="user_notice" class="form-control" style="height: 200px;" cols="80">{{user_notice}}</textarea>
				<label for="noticeboard_text">Notice to {{user_name}}</label>
			</div>
			<a class="btn btn-danger mb-4 copy"><i class="fa-solid fa-copy"></i> Copy</a> 
			<a class="btn btn-primary mb-4" href="https://commons.wikimedia.org/w/index.php?title=User_talk%3A{{user_name_enc}}&action=edit&section=new&dtenable=0&editintro=mw-dt-topic-hint&preloadtitle=Notice+of+upload+removal" target="_blank"><i class="fa fa-edit"></i> Start post</a>

			<!-- <a type="submit" class="btn btn-primary mb-2">Submit</a> 
			<a class="btn btn-danger mb-2" href="{{noticeboard_url}}" target="_blank"><i class="fa fa-edit"></i> Edit page</a> -->
		</div>
	</div>
</div>
{% endblock %}