{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="form-group">
        <h1 class="clearfix mb-4">{{title}}</h1> 
    </div>
    <div class="form-group col-lg-6">   
        <form "{{ url_for('takedown.index') }}" method="post" class="needs-validation">
            <!--temp for testing-->
            <a id="dummy-fill" class="btn btn-primary mb-4" href="#"><i class="fa fa-edit"></i> Fill with dummy data</a><br>
            <!-- Form -->
            <div class="form-group  background-blue">
                <h2 class="clearfix mb-4">File details</h2>
                <div class="form-floating mb-4">
                    <input name="file_url" id="file_url" type="text" class="form-control" rows="3" required />
                    <label for="file_url">File URL</label>
                    <div class="invalid-feedback">Please provide the URL of the file.</div><br>
                <a id="get-image-details" class="btn btn-primary"><i class="fa fa-edit"></i> Grab data from file</a><br>
                </div>
                <label for="file_name" class="form-label">File affected</label>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="file-prefix">File:</span>
                    <input name="file_name" id="file_name" type="text" class="form-control" rows="3" required />
                    <div class="invalid-feedback">Please provide the file name.</div>
                </div>
                <label for="user_name" class="form-label">Uploader's username</label>
                <div class="input-group">
                    <span class="input-group-text" id="file-prefix">User:</span>
                    <input name="user_name" id="user_name" type="text" class="form-control" rows="3" required />
                    <div class="invalid-feedback">Please provide the uploader's namee.</div>
                </div>
            </div> <!--
            <div class="mb-4">
                <label for="upload" class="form-label">Upload file</label>
                <input class="form-control" type="file" id="upload" />
            </div> -->
            
            <div class="background-red">
                <h2 class="clearfix mb-4">Notice description</h2>
            <div class="form-floating mb-4">
                <input name="dmca_title" id="dmca_title" type="text" class="form-control" rows="3" required />
                <label for="dmca_title">Title for DMCA</label>
                <div class="invalid-feedback">Please provide a title for the DMCA. This should be a short (1–3 word) description of the file content.</div>
            </div>
            <div class="form-floating mb-4">
                <input name="subject" id="subject" type="text" class="form-control" rows="3" required />
                <label for="subject">Email subject line</label>
                <div class="invalid-feedback">Please provide the subject line of the email.</div>
            </div>
            <div class="row">
                <div class="form-floating col mb-4">                    
                    <input name="sent_date" id="sent_date" type="date" class="form-control" rows="3" required />
                    <label for="sent_date">Takedown sent date</label>
                    <div class="invalid-feedback">Please provide a date.</div>
                </div>
                <div class="form-floating col mb-4">
                    <input name="received_date" id="received_date" type="date" class="form-control" rows="3" required />
                    <label for="received_date">Takedown received date</label>
                    <div class="invalid-feedback">Please provide a date.</div>
                </div>
            </div>
            <div class="form-floating mb-4">
                <select class="form-select" id="email_manner">
                    <option selected value="email">Email</option>
                    <option value="form">Form</option>
                    <option value="post">Postal mail</option>
                </select>
                <label for="email_manner">Manner of receipt</label>
            </div>
            <div class="form-floating mb-4">
                <textarea name="email_content" id="email_content" class="form-control" style="height: 200px;" cols="80"></textarea>
                <label for="email_content">Email content</label>
            </div>
            <div class="form-floating">
                <select class="form-select" aria-label="Action taken?" id="action_taken">
                    <option value="action_taken_yes" selected>Yes</option>
                    <option value="action_taken_no">No</option>
                    <option value="action_taken_partial">Partial</option>
                </select>
                <label for="action_taken">Action taken?</label>
            </div>
            </div>
            
            <div class="background-blue">
                <h2 class="clearfix mb-4">Original works</h2>
            <div class="form-floating">
                <input name="original_work_url" id="original_work_url" type="text" class="form-control" rows="3" />
                <label for="original_work_url">Original work URL</label>
            </div>
            </div>

            <div class="background-red">
                <h2 class="clearfix mb-4">Takedown sender information</h2>
            <div class="form-floating">
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" id="sender_name" class="form-control" required />
                            <label class="form-label" for="sender_name">Name</label>
                            <div class="invalid-feedback">Please provide the sender's name (either of the individual or of the law firm).</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="sender_type" required>
                                <option value="individual">Individual</option>
                                <option value="organization">Organization</option>
                            </select>
                            <label class="form-label" for="sender_type">Sender type</label>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" id="sender_address1" class="form-control" required />
                    <label class="form-label" for="sender_address1">Address line 1</label>
                    <div class="invalid-feedback">Please provide the address as given in the takedown notice.</div>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" id="sender_address2" class="form-control" />
                    <label class="form-label" for="sender_address2">Address line 2</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" id="sender_city" class="form-control" required />
                    <label class="form-label" for="sender_city">City</label>
                    <div class="invalid-feedback">Please provide the city as given in the takedown notice.</div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" id="sender_state" class="form-control" required />
                            <label class="form-label" for="sender_state">State</label>
                            <div class="invalid-feedback">Please provide the state (or country equivalent) as given in the takedown notice.</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" id="sender_zip_code" class="form-control" required />
                            <label class="form-label" for="sender_zip_code">Zip / postal code</label>
                            <div class="invalid-feedback">Please provide the postal code as given in the takedown notice.</div>
                        </div>
                    </div>
                </div>

                <div class="form-floating mb-4">
                    <select id="sender_country" class="form-select" required>
                        <!-- This is added by a JS function -->
                    </select>
                    <label class="form-label" for="sender_country">Country</label>
                </div>
                
                <div class="form-floating mb-4">
                    <input type="number" id="sender_phone" class="form-control" />
                    <label class="form-label" for="sender_phone">Phone</label>
                </div>
                
                <div class="form-floating mb-4">
                    <input type="email" id="sender_email" class="form-control" required/>
                    <label class="form-label" for="sender_email">Email</label>
                    <div class="invalid-feedback">Please provide the email address as given in the takedown notice.</div>
                </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
